<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/beetle.gif" type="image/x-icon">
<title>{{ title }} - Marginal Sea</title>
<script src="https://kit.fontawesome.com/ada44e2de9.js" crossorigin="anonymous"></script>
  <link type="text/css" rel="stylesheet" media="all" href="/css/style.css" id="theme_css" />

    <script type = "text/javascript" src="/js/switch.js"></script>
</head>
<body>
<!-- Accessibility links - do not remove -->
<div id="top"></div>
<div id="skip"><a href="#content">Skip to content</a></div>

<!-- Container start -->
<div id="container">
<!-- Header -->

<header>
 <div class="header"><h2>ETOURVOL <i class="fa-solid fa-seedling" aria-hidden="true"></i></h2>

  <hr class="one"></div>
</header>

<!-- Menu start -->
{% include "partials/sidebar.njk" %}
<!-- Menu end -->

<!-- Content start -->
<main id="content">
<section>
<h2>{{ title }}</h3>
{{ content | safe }}
</section>
</main>
<!-- Content end -->

<!-- Footer start -->
<footer>
<p><a href="#top">Back to top</a> &bull; <a href="#menu">Back to menu</a></p>
 <br><footer>{% include "partials/footer.njk" %}</footer>
</footer>
<!-- Footer end -->

<!-- Container end -->
</div>
</body>
</html>