<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="shortcut icon" href="/images/beetle.gif" type="image/x-icon">
   <script src="https://kit.fontawesome.com/ada44e2de9.js" crossorigin="anonymous"></script>
  <link type="text/css" rel="stylesheet" media="all" href="/css/style.css" id="theme_css" />

    <script type = "text/javascript" src="/js/switch.js"></script>
<title>Field Notes: {{ title }} - Newsletter</title>
 <meta name="description" content="Field Notes, a newsletter by Petrel.">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Field Notes: {{ title }}">
    <meta property="og:url" content="https://petrel.neocities.org/{{ permalink }}">
    <meta property="og:image" content="https://petrel.neocities.org/images/{{ featured_image }}">
    <meta property="og:description" content="A regular-ish newsletter. {{ description }}">
</head>




<body>
<!-- Accessibility links - do not remove -->
<div id="top"></div>
<div id="skip"><a href="#content">Skip to content</a></div>

<!-- Container start -->
<div id="container">
<!-- Header -->

<header>
 <div class="header"><h2>ETOURVOL <i class="fa-solid fa-seedling"></i></h2>
  <hr class="one"></div>
</header>

<!-- Menu start -->
{% include "partials/sidebar.njk" %}
<!-- Menu end -->

<!-- Content start -->
<main id="content">
<section>
        <h2>Field Notes: <i>{{ title }}</i></h2>
        <p style="color: var(--hr)"><strong><i class="fa-solid fa-calendar-days"></i> <i>{{ date | topDate }}</i></strong></p>
        {% include "partials/blognav.njk" %}
        <hr class="one">
        <!--You can change how topDate looks in your .eleventy.js file-->
        {{ content | safe }}

<p style="text-align:center;"><a href="#top">Back to top</a> &bull; <a href="#menu">Back to menu</a></p>{% include "partials/blognav.njk" %}

<hr style="border: 1px dotted var(--hr);">
<h3>Leave a comment!</h3>
<i>These are manually approved, and may not appear immediately.</i>
        {% include "partials/comments.njk" %}
        
    </main>

</section>

<!-- Footer start -->
<footer>

 <br><footer>{% include "partials/footer.njk" %}</footer>
</footer>
<!-- Footer end -->

<!-- Content end -->


<!-- Container end -->
</div>
</body>
</html>
