
		
		/* @font-face {
    font-family: Consolas;
    src: url('https://gyrfalcon.neocities.org/font/CONSOLA.TTF');
} */

body {
   font-family: 'Helvetica';
  color:#404040;
   margin-left: 225px;
   margin-top: 0px;
   background-color: #f2f2f2;
  background-image:url("/images/bg1.png");
  background-attachment:fixed;
  padding-right: 10px;
   
}

.box {
    width: 80%;
    height: 100%;
    margin-left:0px;
    padding: 10px 10px 10px 15px;
    border-right: gray double;
    border-bottom: gray double;
    background-color: white;
  
}


.header {
  font-family: 'Tahoma';
  text-transform: uppercase;
    width: auto;
    font-size:smaller;
    height: 50px;
    margin-left:10px;
    margin-bottom:30px;
  color:#404040;
} 

 /* unvisited link */
 a:link {
  text-decoration: none;
  color: #678583;
  font-weight: bold;
  border-bottom: 1px dotted;
}

/* visited link */
a:visited {
  text-decoration: none;
  color: #2f4746;
}

/* mouse over link */
a:hover {
  text-decoration: none;
}

/* selected link */
a:active {
  text-decoration: none;
  
} 


hr.one {
  border: 1px dashed gray;
}

/*.textbody {
  padding:10px;
  color:#404040;
}*/

.box2 {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    height: auto;
  margin-left:20px;
}

.sidebar1 {
    flex: 1 1 10%;
    background-color: #f2f2f2;
  padding-top: 0px;
  padding-left: 5px;
  border:1px solid gray;
  font-size:smaller;
}

.content {
  flex: 1 1 50%;
  background-color: #f2f2f2;
  border:1px solid gray;
  padding: 15px;
  
}

/* Recent Blog Posts block in index.html */
#recentpostlistdiv ul {
  padding: 0;
  list-style-type: none;
}

/* At the bottom of blog posts */
#nextprev {
  text-align: center;
  margin-top: 1.4em;
}

#flex {
  display: flex;
}

/* .sidebar2 {
    flex: 1 1 5%;
    background-color: lightgray;
   padding: 15px;
} */

@media (max-width: 768px) { body {
  margin-left: 0px;
  width: auto;
  }
  .box {
    width:100%;
    border-right:none;
  } 
 
}