

<div id="c_widget">

<!-- Style Switcher -->
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
<link href="/css/dark.css" rel="stylesheet" type="text/css" media="all" id="switch">

<script type = "text/javascript" src="/js/switch.js"></script>



<iframe srcdoc="&lt;div id='c_widget'&gt;&lt;/div&gt;&lt;script src='/js/comment-widget.js'&gt;&lt;/script&gt;" width="100%" frameborder="0" style="min-height:400px;"></iframe></div>