<div class="footer">
   <hr><br><h2 style="padding-bottom: 0.5em;">
<a href="https://bsky.app/profile/murkrow.bsky.social"><i class="fa-brands fa-bluesky"></i></a>
<a href="https://etourvol.tumblr.com/"><i class="fa-brands fa-tumblr"></i></a> 
<a href="https://artfight.net/~taxon"><i class="fa-solid fa-brush"></i></a>
<a href="https://toyhou.se/taxon"><i class="fa-solid fa-house-user"></i></a>
<a href="https://www.patreon.com/marginalsea"><i class="fa-brands fa-patreon"></i></a>
<br>
    </h2>
   <p> © 2025 - Present. Hosted on <a href="https://neocities.org/">Neocities</a>,
     built using <a href="https://www.11ty.dev/">11ty</a> and <a href="https://mozilla.github.io/nunjucks/">Nunjucks</a>.</p>
    <img src="/images/vscode.png" alt="Made with Visual Studio Code"> 
    <img src="/images/noai.webp" alt="This is an Anti-AI Site">
    <img src="/images/ebird.png" alt="eBird">
    <img src="/images/inat.png" alt="iNaturalist">
    {% include "partials/switcher.njk" %}
</div>
