<div class="footer">
    © 2025 - Present. Hosted on Neocities,
     built using 11ty and Nunjucks.
    <br>
    <img src="/images/monitor1.gif"> 
    <img src="/images/vscode.png"> 
    <img src="/images/noai.webp">
    {% include "partials/switcher.njk" %}
</div>