<div class="footer">
   <hr>
   <p> © 2025 - Present. Hosted on <a href="https://neocities.org/">Neocities</a>,
     built using <a href="https://www.11ty.dev/">11ty</a> and <a href="https://mozilla.github.io/nunjucks/">Nunjucks</a>.</p>
    <img src="/images/vscode.png" alt="Made with Visual Studio Code"> 
    <img src="/images/noai.webp" alt="This is an Anti-AI Site">
    <img src="/images/ebird.png" alt="eBird">
    <img src="/images/inat.png" alt="iNaturalist"><br>
        <p style="opacity: 0.7;">{% include "partials/switcher.njk" %}</p>
</div>
