<div id="c_widget">
    <script type = "text/javascript" src="/js/switch.js"></script>
<iframe srcdoc="&lt;div id='c_widget'&gt;&lt;/div&gt;&lt;script src='/js/comment-widget.js'&gt;&lt;/script&gt;" width="100%" frameborder="0" style="min-height:500px;overflow: visible;"></iframe></div>