<head>
</head>
<body> <link rel="stylesheet" href="/css/nav.css" />
<a href="/"><div align="center"><h3><img src="/images/quag.png"></h3></a></div>
<div class="desc">Personal site, under construction. This is a test of the sidebar.</div>
<div class="navlink"><a href="/">HOME</a></div>
<div class="navlink"><a href="/about">ABOUT</a></div>
<div class="navlink"><a href="/archives">JOURNAL</a></div>
</body>