<head>
</head>
<body>
<a href="/"><div align="center"><h3><img src="/images/quag.png"></h3></a></div>
<div class="desc">Personal site, under construction. Might put a Status Cafe here?</div>
<div class="navlink"><a href="/">HOME</a></div>
<div class="navlink"><a href="/about">ABOUT</a></div>
<div class="navlink"><a href="/archives">JOURNAL</a></div>
<div class="navlink"><a href="/distaxon">DISTAXON</a></div>
<div class="navlink"><a href="/birds">BIRDING</a></div>
<div class="navlink"><a href="/misc">MISC.</a></div>
<div align="center"><br>{% include "partials/switcher.njk" %}</div>
</body>