<head>
</head>
<body>
<a href="/"><div align="center"><h3><img src="/images/quag.png"></h3></a></div>
<div class="desc"><div id="statuscafe"><div id="statuscafe-username"></div><div id="statuscafe-content"></div></div><script src="https://status.cafe/current-status.js?name=lark" defer></script></div>
<div class="navlink"><a href="/">HOME</a></div>
<div class="navlink"><a href="/about">ABOUT</a></div>
<div class="navlink"><a href="/archives">JOURNAL</a></div>
<div class="navlink"><a href="/distaxon">DISTAXON</a></div>
<div class="navlink"><a href="/birds">BIRDING</a></div>
<div class="navlink"><a href="/misc">MISC.</a></div>
<div align="center"><br>{% include "partials/switcher.njk" %}</div>
</body>