<nav id="menu">
<ul>
    <!-- Add links here in <li> tags -->
    <li><a href="/"><i class="fa-solid fa-location-dot" aria-hidden="true"></i> Home</a></li>
    <li><a href="/about"><i class="fa-solid fa-info-circle" aria-hidden="true"></i> About</a></li>
    <li><a href="/newsletter"><i class="fa-solid fa-envelope" aria-hidden="true"></i> Newsletter</a></li>
    <li><a href="/credits"><i class="fa-solid fa-code" aria-hidden="true"></i> Credits</a></li>
</ul>
</nav>