<form aria-label="styleswitcher">
        <select name="styleswitcher" onchange="changeStyle(this.value)">
            <option value="1" selected="true" disabled="disabled">Change Site Theme</option>
            <option value="style">System Default</option>
        <option value="dark">Dark</option>
        <option value="light">Light</option>
        </select>
        </form> 
  
<!-- <button onclick="changeStyle('light')">Light Mode <i class="fa-solid fa-sun"></i></button>
<button onclick="changeStyle('dark')">Dark Mode <i class="fa-solid fa-moon"></i></button> -->