  <form aria-label="styleswitcher">
        <select name="styleswitcher" onchange="changeStyle(this.value)">
            <option value="1" selected="true" disabled="disabled">Change Theme</option>
            <option value="/css/style">Light</option>
        <option value="/css/style2">Dark</option>
        </select>
        </form>