  <form aria-label="styleswitcher">
        <select name="styleswitcher" onchange="changeStyle(this.value)">
            <option value="1" selected="true" disabled="disabled">Change Site Theme</option>
            <option value="/css/style3">System Default</option>
        <option value="/css/dark3">Dark</option>
        <option value="/css/light3">Light</option>
        </select>
        </form>